body {
    background-color: rgba(197, 147, 22, 0.11);
}

#button-group {
    display: flex;
    margin: 100px auto 0;
    justify-content: space-evenly;
    width: 80vw;
}

button {
    width: 250px;
    height: 2em;
    font-size: 2em;
    border-radius: 50px;
    text-align: center;
    margin: 0 10px 0 10px;
}



#record {
    background-color: red;
    color: yellow;
}

button:hover {
    border: solid black 5px;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.3);
}

button:active {
    background-color: orange;
}

#listen {
    background-color: lightseagreen;
    color: yellow;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 80vw;
}

#result-text {
    height: 8vh;
}

#add {
    background-color: rgb(28, 203, 60);
    color: rgb(10, 10, 1);
}

label {
    font-size: 2em;
}



#download__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0;
    text-align: center;
    width: 80vw;
}

#download__input-name {
    height: 3em;
    margin-bottom: 20px;

}

textarea {
    padding: 30px;
    border-radius: 50px;
    border: none;
    height: 20vh;
    font-size: 20px;
    overflow: hidden;
    resize: none;
}
#result-for-print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: justify;
    width: 80vw;
}
#result-for-print-btn {
    text-align: center;
    height: 50px;
    width: 80vw;
    margin: 0 auto;
    font-size: 1.3em;
    border-radius: 10px;
    background-color: rgb(28, 203, 60);
}

.edit {
    margin: 20px auto 0;
    text-align: center;
    width: 80vw;
    font-size: 2em;
}

.edit__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    text-align: center;
    width: 80vw;
}

.edit__wrapper button {
    width: 250px;
    font-size: 1.2em;
}

.redact {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
}

.redact__collection {
    font-size: 25px;
    font-weight: 600;
}

.redact__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80vw;
}

.redact__wrapper__div {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
}

.redact__symbol {
    width: 30px;
    text-align: center;
}

.redact__rule {
    width: 100px;
    text-align: center;
}

.redact__add__rule {
    text-align: center;
    height: 30px;
    width: 80vw;
    font-size: 1.3em;
    border-radius: 10px;
    background-color: rgb(28, 203, 60);
}

.redact__delete__rule {
    text-align: center;
    height: 30px;
    font-size: 1.3em;
    border-radius: 10px;
    background-color: orangered;
}

.redact__text {
    text-align: center;
    height: 50px;
    width: 80vw;
    font-size: 1.3em;
    border-radius: 10px;
    background-color: rgb(28, 203, 60);
}